header.header-common.is-ready
  .promotion-header
    .wrapper
      .information-promotion
        .text-promotion Sign up and get 20% off to your first order. <a class="trans" href="#">Sign Up Now</a>
        .button-promotion.md
          img.image-common(src=imgCommonPC+"icn_close.svg" height="20" width="20" alt="Close" loading="eager")
  .wrapper
    .header-viewport
      .button-hamburger.sm
        .button-wrapper
          span
          span
          span
      a.logo-header.trans(href=path+"/")
        img.image-common.md(src=imgCommonPC+"logo_header.svg" height="160" width="22" alt="SHOP.CO" loading="eager")
        img.image-common.sm(src=imgCommonSP+"logo_header.svg" height="126" width="18" alt="SHOP.CO" loading="eager")
      nav.navigation-header
        .navigation-wrapper
          .list-header-menu
            ul.list-wrapper
              li.item-list.has-child
                a.link-list.trans(href="#") Shop
                .list-header-submenu
                  ul.list-wrapper-submenu
                    li.item-list-submenu
                      a.link-list-submenu.trans(href="#") item sub 1
                      .list-header-subsubmenu
                        ul.list-wrapper-subsubmenu
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 1
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 2
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 3
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 4
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 5
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 1
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 2
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 3
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 4
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 5
                    li.item-list-submenu
                      a.link-list-submenu.trans(href="#") item sub 2
                      .list-header-subsubmenu
                        ul.list-wrapper-subsubmenu
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 1
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 2
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 3
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 4
                          li.item-list-subsubmenu
                            a.link-list-subsubmenu.trans(href="#") item sub sub 5
                    li.item-list-submenu
                      a.link-list-submenu.trans(href="#") item sub 3
                    li.item-list-submenu
                      a.link-list-submenu.trans(href="#") item sub 4
                    li.item-list-submenu
                      a.link-list-submenu.trans(href="#") item sub 5
              li.item-list
                a.link-list.trans(href="#") On Sale
              li.item-list
                a.link-list.trans(href="#") New Arrivals
              li.item-list
                a.link-list.trans(href="#") Brands
      .form-header-search
        form.form-wrapper(action="#")
          .button-search
            button.button-wrapper(type="submit" name="submit")
              .icon-search
                img.image-common(src=imgCommonPC+"icn_search.svg" height="24" width="24" alt="Search" loading="eager")
          .input-search.js-search-placeholder(data-placeholder="Search for products...!,Find what you love...!,Explore our collection...!")
            input.input-wrapper(type="text" name="keySearch")
      .list-header-action
        ul.list-wrapper
          li.item-list
            a.icon-list.trans(href="#")
              img.image-common(src=imgCommonPC+"icn_cart.svg" height="24" width="24" alt="Cart" loading="eager")
          li.item-list
            a.icon-list.trans(href="#")
              img.image-common(src=imgCommonPC+"icn_user.svg" height="24" width="24" alt="User" loading="eager")