header.header-common.is-ready
  .promotion-header
    .wrapper
      .information-promotion
        .text-promotion Sign up and get 20% off to your first order. <a class="trans" href="#">Sign Up Now</a>
        .button-promotion.md
          img.image-common(src=imgCommonPC+"icn_close.svg" height="20" width="20" alt="Close" loading="eager")
  .wrapper
    .header-viewport
      .button-hambuger.sm
        span
        span
        span
      a.logo-header.trans(href=path+"/")
        img.image-common.md(src=imgCommonPC+"logo_header.svg" height="160" width="22" alt="SHOP.CO" loading="eager")
        img.image-common.sm(src=imgCommonSP+"logo_header.svg" height="126" width="18" alt="SHOP.CO" loading="eager")
      nav.navigation-header
        .navigation-wrapper
          .list-header-menu
            ul.list-wrapper
              li.item-list.has-child
                a.link-list.trans(href="#")
                  span.text-link Shop
                  span.icon-link-down
                    img.image-common(src=imgCommonPC+"icn_arrow_down.svg" height="16" width="16" alt="Arrow Down" loading="eager")
                .list-header-submenu
                  ul.list-wrapper
                    li.sub-list
                      a.link-list.trans(href="#")
                        span.text-link Shop item 1:
                        span.icon-link-minus.sm
                      .list-header-subsubmenu
                        ul.list-wrapper
                          li.subsub-list
                            a.link-list.trans(href="#")
                              span.text-link Shop sub 1
                          li.subsub-list
                            a.link-list.trans(href="#")
                              span.text-link Shop sub 2
                          li.subsub-list
                            a.link-list.trans(href="#")
                              span.text-link Shop sub 3
                          li.subsub-list
                            a.link-list.trans(href="#")
                              span.text-link Shop sub 4
                          li.subsub-list
                            a.link-list.trans(href="#")
                              span.text-link Shop sub 5
                    li.sub-list
                      a.link-list.trans(href="#")
                        span.text-link Shop item 2:
                      .list-header-subsubmenu
                        ul.list-wrapper
                          li.subsub-list
                            a.link-list.trans(href="#")
                              span.text-link Shop sub 1
                          li.subsub-list
                            a.link-list.trans(href="#")
                              span.text-link Shop sub 2
                          li.subsub-list
                            a.link-list.trans(href="#")
                              span.text-link Shop sub 3
                          li.subsub-list
                            a.link-list.trans(href="#")
                              span.text-link Shop sub 4
                          li.subsub-list
                            a.link-list.trans(href="#")
                              span.text-link Shop sub 5
                    li.sub-list
                      a.link-list.trans(href="#")
                        span.text-link Shop item 3:
                    li.sub-list
                      a.link-list.trans(href="#")
                        span.text-link Shop item 4:
                    li.sub-list
                      a.link-list.trans(href="#")
                        span.text-link Shop item 5:
              li.item-list
                a.link-list.trans(href="#")
                  span.text-link On Sale
              li.item-list
                a.link-list.trans(href="#")
                  span.text-link New Arrivals
              li.item-list
                a.link-list.trans(href="#")
                  span.text-link Brands
      .form-header-search
        form.form-wrapper(action="#")
          .button-search
            button.button-wrapper(type="submit" name="submit")
              .icon-search
                img.image-common(src=imgCommonPC+"icn_search.svg" height="24" width="24" alt="Search" loading="eager")
          .input-search
            input.input-wrapper(type="text" name="keySearch" placeholder="Search for products...")
      .list-header-action
        ul.list-wrapper
          li.item-list
            a.icon-list.trans(href="#")
              img.image-common(src=imgCommonPC+"icn_cart.svg" height="24" width="24" alt="Cart" loading="eager")
          li.item-list
            a.icon-list.trans(href="#")
              img.image-common(src=imgCommonPC+"icn_user.svg" height="24" width="24" alt="User" loading="eager")